#root {
  width: 100%; /* Mantenha */
  min-height: 100vh; /* Faz o root ocupar a altura da tela */
  display: flex; /*Torna o root um container flex */
  justify-content: center; /* Centraliza o filho (TodoList) horizontalmente */
  align-items: center; /* Centraliza o filho (TodoList) verticalmente */
  /* padding: 2rem; */ /* Mantenha comentado/removido, a menos que queira espaçamento GERAL */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
